image:
  repository: postgres
  pullPolicy: IfNotPresent
  tag: "15"

service:
  type: ClusterIP
  port: 5432

postgres:
  user: postgres
  password: mysecretpassword
  db: postgres

persistence:
  enabled: true
  size: 1Gi
  accessMode: ReadWriteOnce
